@import "_reset.scss";


html{
	scroll-behavior: smooth;
}

body{

	color: #000000;
	font-family: Arial, sans-serif;
	
}
.wrapper{
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;

}

[class*=__container] {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header{
	padding-block: 20px;
	background-color: #221e2d;
	color:#ffffff;

	&__container{}

	&__nav{}
}
.top-header {
	display: grid;
	grid-template-columns: 40px 1fr;
	gap: 10px;
	height: 40px;
	margin-block-end: 20px;

	
	
	&__logo{
		border-radius:24%;
		height: 100%;
		width: 100%;
	}
	&__title{
		color: #ffffff;
		font-size: 40px;
		font-weight: 500;
		text-align: center;
	}
}

.nav{}
.nav__list{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.nav__item{

}
.nav__link{
	font-size: 20px;
	color: #7a7881;
	transition:color .2s ;
	
	&:hover{
		text-decoration: underline;
		color: #c16548;
	}
}

.page{
	padding-block: 15px;
	&__container{
	}
}
.title{
	color: #111111;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
}



.footer{
	background:  #221e2d;
	padding: 20px;
	&__container{}
	&__title{
		text-align: center;
		color: #ffffff;
		font-size: 25px;
		font-weight: 600;
	}
}
